<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>白纸年华</title>
</head>
<body>
<div>
    <div>
        <{if $auth.tencent}>
        <img src='<{$tencent.avator}>/100' width=100 />
        <{else}>
        <a href="?do=Oauth.Tencent">球球授权</a>
        <{/if}>
    </div>
    <div></div>
    <div>
        <{if $auth.sina}>
        <img src='<{$sina.avator}>' width=100 />
        <{else}>
        <a href="?do=Oauth.Sina">新浪授权</a>
        <{/if}>
    </div>
</div>
</body>
</html>
