<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>白纸年华</title>
<link rel="shortcut icon" href="static/img/favicon.ico" />
<link rel="stylesheet" type="text/css" href="static/css/global.css" />
<script type="text/javascript" src="static/js/jquery.min.js"></script>
<script type="text/javascript" src="static/js/main.js"></script>
</head>
<body>
<div id="paper">
    <div id="tencent" class="logo">
        <{if $auth.tencent}>
        <a href="javascript:;" app="tencent" title="退出"><img src='<{$tencent.avator}>'/></a>
        <{else}>
        <a href="?do=oauth.tencent"><img src='static/img/tencent_logo.png' /></a>
        <{/if}>
    </div>
    <div id="opera">
        <{if $auth.tencent && $auth.sina}>
        <{if isset($exc)}>
        <span><{$exc}></span>
        <{else}>
        <select>
            <option selected="selected" disabled="disabled">执笔</option>
            <option value="t2s" <{if $type == 't2s'}>selected="selected"<{/if}>>A、球球 → 新浪</option>
            <option value="s2t" <{if $type == 's2t'}>selected="selected"<{/if}>>B、球球 ← 新浪</option>
            <option value="duplex" <{if $type == 'duplex'}>selected="selected"<{/if}>>C、双向</option>
            <option value="close" <{if $type == 'close'}>selected="selected"<{/if}>>D、关闭</option>
        </select>
        <{/if}>
        <audio autoplay="autoplay" src="http://911pop.com/qmoon/Preview/qmyl/upload/download/month/1343977359348.mp3"></audio>
        <{/if}>
    </div>
    <div id="sina" class="logo">
        <{if $auth.sina}>
        <a href="javascript:;" app="sina" title="退出"><img src='<{$sina.avator}>'/></a>
        <{else}>
        <a href="?do=oauth.sina"><img src='static/img/sina_logo.png' /></a>
        <{/if}>
    </div>
</div>
</body>
</html>
