@charset "utf-8";
body {
    margin: 0 auto;
    background: #FFF url(../img/paper.png) no-repeat fixed top center;
}
img {
    border: none;
}
#paper {
    margin: 0 auto;
    width: 450px;
    height: 110px;
    margin-top: 343px;
    opacity: 0.8;
}
#paper > div{
    height: 100px;
    float: left;
}
.logo img {
    width: 100px;
    /*opacity: 0;*/
}
#tencent {
    margin: 5px 0 0 10px;
}
#opera {
    width: 180px;
    margin: 5px 0 0 10px;
}
#opera span {
    height: 100px;
    display: table-cell;
    vertical-align: middle;
    overflow: hidden;
    font: 12px/1.75 Tahoma,Arial,sans-serif;
    color: #333;
}
#opera select {
    margin: 40px 30px;
}
#sina {
    margin: 5px 0 0 10px;
}
